<!DOCTYPE html>
<html lang="en" data-theme="dark" style="opacity: 0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="V Programming Language documentation">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://vosca.dev/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://vosca.dev/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://vosca.dev/images/favicon-16x16.png">
    <link rel="manifest" href="https://vosca.dev/images/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="https://vosca.dev/images/favicon.ico">
    <!-- End Favicons -->

    <!-- Preload -->
    <link rel="preload" href="https://vosca.dev/fonts/JetBrainsSans-Regular.woff2"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://vosca.dev/fonts/JetBrainsSans-Medium.woff2"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://vosca.dev/fonts/JetBrainsSans-Bold.woff2"
          as="font" type="font/woff2" crossorigin>

    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <!-- End Preload -->

    <!-- Open Graph-->
    <meta property="og:title" content="@{title} | V Documentation">
    <meta property="og:description" content="">
    <meta property="og:image" content="/assets/images/open-graph/docs-cover.png">
    <meta property="og:site_name" content="V Documentation">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://docs.vosca.dev/@{page_url}">
    <!-- End Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@vlang">
    <meta name="twitter:title" content="@{title} | V Documentation">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@@vlang-association">
    <meta name="twitter:image:src" content="/assets/images/open-graph/docs-cover.png">
    <!-- End Twitter Card -->

    <!-- Schema.org WebPage -->
    <script type="application/ld+json"> {
            "@@context": "http://schema.org",
            "@@type": "WebPage",
            "@@id": "https://docs.vosca.dev/@{page_url}#webpage",
            "url": "https://docs.vosca.dev/@{page_url}",
            "name": "@{title} | V Documentation",
            "description": "",
            "image": "/assets/images/open-graph/docs-cover.png",
            "inLanguage": "en-US"
        }</script>
    <!-- End Schema.org -->

    <!-- Schema.org WebSite -->
    <script type="application/ld+json"> {
            "@@type": "WebSite",
            "@@id": "https://docs.vosca.dev/#website",
            "url": "https://docs.vosca.dev/",
            "name": "V Documentation"
        }</script>
    <!-- End Schema.org -->

    <link rel="stylesheet" href="/assets/styles/style.css">

    @if need_playground
    <link rel="stylesheet" href="https://unpkg.com/vlang-playground@@1/dist/vlang-playground.css">
    @end

    <title>@{title} | V Documentation</title>
</head>
<body>

@include 'partials/header'

<div class="wrapper">
    <aside class="navigation">
        <div class="header">
            <span class="title-wrapper">
                <a class="image-link" href="https://vosca.dev"
                   aria-label="Go to main V Open Source Community Association page">
                    <img width="25" height="26" src="https://vosca.dev/images/logo.svg"
                         alt="V Open Source Community Association (VOSCA) Logo">
                </a>
                <a href="/" class="title">Documentation</a>
            </span>
            <div class="close-button-wrapper">
                <div class="close-button js-close-aside-navigation-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="icon-stroke" d="M2.32349 2.34091L13.7059 13.7233" stroke="black"
                              stroke-linecap="round"/>
                        <path class="icon-stroke" d="M2.32349 13.7233L13.7059 2.34091" stroke="black"
                              stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <nav>
            <div class="group">
                <section>
                    <ul>
                        @for first_child in root_node.contents
                        @if first_child.contents.len == 0
                        <li class="js-item item">
                            @if first_child.html_url == node.html_url
                            <a class="link active" href="/@first_child.html_url">@first_child.title</a>
                            @else
                            <a class="link" href="/@first_child.html_url">@first_child.title</a>
                            @end
                        </li>
                        @else
                        <li class="js-item item with-sublist top-level">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                 viewBox="0 0 24 24" class="caret-icon" data-v-f241169b="">
                                <path d="M9,19c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l5.3-5.3L8.3,6.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l6,6c0.4,0.4,0.4,1,0,1.4l-6,6C9.5,18.9,9.3,19,9,19z"></path>
                            </svg>

                            <span class="top-level-title link">@first_child.title</span>

                            <ul class="js-sub-list sub-list top-level-sublist">
                                @for second_child in first_child.contents
                                @if second_child.contents.len == 0
                                <li class="js-item item">
                                    @if second_child.html_url == node.html_url
                                    <a class="link active" href="/@second_child.html_url">@second_child.title</a>
                                    @else
                                    <a class="link" href="/@second_child.html_url">@second_child.title</a>
                                    @end
                                </li>
                                @else
                                <li class="js-item item with-sublist">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                         viewBox="0 0 24 24" class="caret-icon" data-v-f241169b="">
                                        <path d="M9,19c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l5.3-5.3L8.3,6.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l6,6c0.4,0.4,0.4,1,0,1.4l-6,6C9.5,18.9,9.3,19,9,19z"></path>
                                    </svg>

                                    <span class="link">@second_child.title</span>

                                    <ul class="js-sub-list sub-list">
                                        @for third_child in second_child.contents
                                        <li class="js-item item">
                                            @if third_child.html_url == node.html_url
                                            <a class="link active" href="/@third_child.html_url">@third_child.title</a>
                                            @else
                                            <a class="link" href="/@third_child.html_url">@third_child.title</a>
                                            @end
                                        </li>
                                        @end
                                    </ul>
                                </li>
                                @end
                                @end
                            </ul>
                        </li>
                        @end
                        @end
                    </ul>
                </section>
            </div>
        </nav>
    </aside>
    <div class="aside-navigation-overlay js-aside-navigation-overlay"></div>

    <article itemscope itemtype="http://schema.org/Article">
        <div class="container">
            <div class="content">
                <div class="content-container">
                    <main itemprop="articleBody">
                        @{content}
                    </main>
                    <footer itemscope itemtype="http://schema.org/WPFooter">
                        <div class="edit-info">
                            <div class="edit-link">
                                <a class="link edit-link-button"
                                   href="https://github.com/vlang-association/docs/edit/main/@{node.url}" target="_blank"
                                   rel="noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="edit-link-icon">
                                        <path d="M18,23H4c-1.7,0-3-1.3-3-3V6c0-1.7,1.3-3,3-3h7c0.6,0,1,0.4,1,1s-0.4,1-1,1H4C3.4,5,3,5.4,3,6v14c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1v-7c0-0.6,0.4-1,1-1s1,0.4,1,1v7C21,21.7,19.7,23,18,23z"></path>
                                        <path d="M8,17c-0.3,0-0.5-0.1-0.7-0.3C7,16.5,6.9,16.1,7,15.8l1-4c0-0.2,0.1-0.3,0.3-0.5l9.5-9.5c1.2-1.2,3.2-1.2,4.4,0c1.2,1.2,1.2,3.2,0,4.4l-9.5,9.5c-0.1,0.1-0.3,0.2-0.5,0.3l-4,1C8.2,17,8.1,17,8,17zM9.9,12.5l-0.5,2.1l2.1-0.5l9.3-9.3c0.4-0.4,0.4-1.1,0-1.6c-0.4-0.4-1.2-0.4-1.6,0l0,0L9.9,12.5z M18.5,2.5L18.5,2.5L18.5,2.5z"></path>
                                    </svg>
                                    Edit this page on GitHub
                                </a>
                            </div>
                            <div class="last-updated">
                                @if title != 'V Language Documentation (aka Vlang Docs)'
                                Last updated:
                                <time itemprop="dateModified" datetime="@{node.modification_time.format_rfc3339()}">
                                    @{node.modification_time.format_ss()}
                                </time>
                                @end
                            </div>
                        </div>

                        <!-- only-prev or only-next -->
                        <div class="prev-next">
                            @if prev_node.html_url != ''
                            <div class="page prev-page">
                                <a class="page-link" href="/@prev_node.html_url">
                                    <span class="desc">Previous page</span>

                                    @if prev_node.title == 'Overview'
                                    <span class="title">@{prev_node.parent.title} Overview</span>
                                    @else
                                    <span class="title">@{prev_node.title}</span>
                                    @end
                                </a>
                            </div>
                            @else
                            <div></div>
                            @end

                            @if next_node.html_url != ''
                            <div class="page next-page">
                                <a class="page-link" href="/@next_node.html_url">
                                    <span class="desc">Next page</span>

                                    @if next_node.title == 'Overview'
                                    <span class="title">@{next_node.parent.title} Overview</span>
                                    @else
                                    <span class="title">@{next_node.title}</span>
                                    @end
                                </a>
                            </div>
                            @else
                            <div></div>
                            @end
                        </div>
                    </footer>
                </div>
            </div>
            <div class="aside">
                <div class="aside-content">
                    <div class="aside-container">
                        @if subtopics.len > 0
                        <div class="title">On this page</div>
                        <nav>
                            <ul>
                                @for subtopic in subtopics
                                <li>
                                    <a href="#@{subtopic.id}">@{subtopic.title}</a>
                                </li>
                                @end
                            </ul>
                        </nav>
                        @end
                    </div>
                    <div class="aside-footer"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-container">
                    <div class="end-line">
                        <div class="copyright">
                            Copyright © 2023 &nbsp;
                            <a class="link" href="https://vosca.dev" target="_blank">
                                V Open Source Community Association (VOSCA)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentNavigationItem = document.querySelector(".link.active");
        if (currentNavigationItem !== null) {
            currentNavigationItem.scrollIntoView({block: "center", behavior: "auto"});
        }
    })

</script>

@if need_playground
<script src="https://unpkg.com/vlang-playground@@1/"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const playgroundElements = [
            ...document.querySelectorAll(".language-v"),
            ...document.querySelectorAll(".language-c"),
            ...document.querySelectorAll(".language-vmod")
        ];
        playgroundElements.forEach(playgroundElement => {
            const elementClasses = playgroundElement.classList;
            const isTest = elementClasses.contains("play-test");
            const isPlay = elementClasses.contains("play");

            const playground = Playground.create(playgroundElement, {
                fontSize: "14px",
                highlightOnly: !(isPlay || isTest),
                showFooter: false,
                showLineNumbers: isPlay || isTest,
                isModuleFile: playgroundElement.classList.contains("language-vmod"),
                configuration: isPlay ? "play" : "tests"
            });
            playgrounds.push(playground);
        });
    })
</script>
@end

<script src="/assets/scripts/shortcut-fixer.js"></script>

<script src="/assets/scripts/aside.js"></script>
<script src="/assets/scripts/theme.js"></script>
<script src="/assets/scripts/header.js"></script>
<script src="/assets/scripts/header-search.js"></script>
<script src="/assets/scripts/rightside.js"></script>
<script src="/assets/scripts/pre-code-blocks.js"></script>

<script>
    document.addEventListener("keydown", (event) => {
        if (document.activeElement.tagName.toLowerCase() !== "body") {
            return;
        }

        //@if prev_node.html_url != ''
        if (event.key === "ArrowLeft") {
            window.open("/@prev_node.html_url", "_self");
        }
        //@end

        //@if next_node.html_url != ''
        if (event.key === "ArrowRight") {
            window.open("/@next_node.html_url", "_self");
        }
        //@end
    });

    window.onload = () => {
        const html = document.querySelector("html");
        html.style.opacity = '1';
    };
</script>
</body>
</html>
