<h1 class="main">V Language Documentation</h1>

<h2>Get started</h2>

<div class="cards">
    <a href="./getting-started/overview.html" class="card bigger-logo">
        <div class="title">Get started with V</div>
        <div class="description">Install V and build your first app</div>
    </a>

    <a href="https://play.vlang.foundation" target="_blank" class="card bigger-logo">
        <div class="title">Try V online</div>
        <div class="description">Run, edit, share V code online</div>
    </a>

    <a href="./getting-started/faq.html" class="card bigger-logo">
        <div class="title">FAQ</div>
        <div class="description">Frequently asked questions about V</div>
    </a>

    <a href="./basics/idioms.html" class="card bigger-logo">
        <div class="title">Idioms</div>
        <div class="description">Frequently used idioms in V</div>
    </a>
</div>

<h2>First steps</h2>

<div class="cards">
    <a href="./basics/basic-syntax.html" class="card">
        <div class="title">Basic syntax</div>
        <div class="description">Learn basics of V: keywords, operators and more</div>
    </a>

    <a href="https://learn.vlang.foundation" target="_blank" class="card">
        <div class="title">Vings</div>
        <div class="description">
            Learn V with small tasks, step-by-step learn basics of V
        </div>
    </a>
</div>

<h2>Featured topics</h2>

<div class="cards">
    <a href="#" class="card">
        <div class="title">Standard library API reference</div>
        <div class="description">
            All about functions, structs, etc inside standard library
        </div>
    </a>

    <a href="./concepts/types/primitive-types.html" class="card">
        <div class="title">Basic types</div>
        <div class="description">
            Type system of V: numbers, strings, arrays, maps and other
            built-in
        </div>
    </a>

    <a href="./concepts/control-flow/conditions.html" class="card">
        <div class="title">Control flow</div>
        <div class="description">
            Building blocks of any program: if, for, while, match and more
        </div>
    </a>

    <a href="./concepts/error-handling/overview.html" class="card">
        <div class="title">Error handling</div>
        <div class="description">
            How to handle errors in V: or, Result, Option and more
        </div>
    </a>
</div>
