aside.navigation {
  width: 300px;
  height: 100vh;

  position: fixed;

  color: var(--text-color);
  background-color: var(--aside-background-color);

  padding: 20px 20px 20px 50px;

  z-index: 998;

  @media (max-width: 1000px) {
    top: 0;
    left: 0;
    height: 100vh;

    background-color: var(--aside-background-color);

    z-index: 1000;

    transform: translateX(-100%);
    transition: opacity .25s, transform .5s cubic-bezier(.22, 1, .19, 1);

    font-size: 16px;

    &.open {
      transform: translateX(0);
    }
  }

  .header {
    display: grid;
    grid-template-columns: auto max-content;

    @media (max-width: 1000px) {
      grid-template-columns: auto max-content;
      grid-column-gap: 10px;

      .close-button-wrapper {
        display: block !important;
      }
    }

    .close-button-wrapper {
      display: none;
      margin-top: 3px;
    }

    .title {
      display: grid;
      grid-template-columns: max-content auto;
      grid-column-gap: 10px;
      align-items: center;
      text-decoration: none;
      margin-top: 3px;

      img {
        width: 25px;
      }

      span {
        font-size: 17px;
        font-weight: 500;
        color: var(--text-color);
      }
    }
  }

  nav {
    padding: 20px 0 20px 0;
    height: 100%;
  }

  .group {
    border-top: 1px solid var(--divider-color);
    padding: 15px 0;
    height: 100%;

    section {
      height: 100%;
      overflow-y: scroll;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &.sub-list {
          padding-left: 20px;
          display: none;

          &.open {
            display: block;
          }
        }
      }
    }

    .title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .item {
      position: relative;
      margin: 10px 0;

      svg {
        position: absolute;
        width: 20px;
        height: 15px;
        top: 3px;
        left: -5px;

        fill: var(--aside-link-text-color);

        @media (max-width: 1000px) {
          height: 18px;
          top: 3px;
        }
      }

      &.open > svg {
        transform: rotate(90deg);
      }

      &:hover {
        & > .link {
          cursor: pointer;
          color: var(--aside-link-text-color-hover);
        }

        svg {
          fill: var(--aside-link-text-color-hover)
        }
      }

      .link {
        position: relative;
        display: block;
        margin: 4px 0;
        padding-left: 17px;
        color: var(--aside-link-text-color);
        text-decoration: none;

        &.active {
          color: var(--aside-link-text-color-active);
        }
      }

    }
  }
}

aside.navigation.open + .aside-navigation-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

.aside-navigation-overlay {
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  opacity: 0;

  transition: opacity .5s;
}
