html {
  --card-background-color: var(--gray-f9);
}

html[data-theme="dark"] {
  --card-background-color: var(--almost-black);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 40px -10px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .card {
    margin: 0 10px 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: border .25s;

    display: grid;
    grid-template-rows: auto max-content;
    align-items: start;

    text-decoration-style: unset !important;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--card-background-color);

    &.with-icon {
      grid-template-rows: max-content auto max-content;
    }

    &.bigger-logo {
      .logo {
        width: 70px;
        height: 70px;
      }
    }

    & .logo svg .foreground {
      fill: var(--card-background-color);

      &.with-border {
        border: 3px solid var(--text-color);
      }
    }

    & .logo svg .foreground-stroke {
      stroke: var(--card-background-color);
    }

    & .logo svg .background {
      fill: var(--text-color);
    }

    &:hover {
      cursor: pointer;
      border: 1px solid var(--brand-color);
    }

    @media (max-width: 700px) {
      margin: 0 0 20px;
    }

    .logo {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
      overflow: hidden;

      svg {
        width: 100%;
        height: 100%;

        .background {
          transition: fill .25s;
        }

        .foreground {
          transition: fill .25s;
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
      color: var(--secondary-color);
    }
  }
}
