@import "close-button";

.header-component {
  &.underline {
    header {
      border-bottom: 1px solid var(--divider-color);
    }
  }

  &.fixed {
    header {
      position: fixed;
      top: 0;
    }
  }

  &.transparent {
    header {
      -webkit-backdrop-filter: saturate(50%) blur(8px);
      backdrop-filter: saturate(50%) blur(8px);
      background: var(--header-transparent-background-color);
    }
  }

  &.no-change-theme {
    .change-theme {
      display: none !important;
    }

    .main-header-list .navigation-item:nth-last-child(-n + 2) {
      margin-right: 0 !important;
    }
  }

  &.no-search-button {
    .header-container button.search {
      display: none !important;
    }
  }
}

header {
  height: 70px;
  width: 100%;
  z-index: 997;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;

  background: var(--header-background-color);

  @media (max-width: 1000px) {
    width: 100vw;

    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }

  .header-container {
    padding: 0 50px;
    height: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;

    @media (max-width: 1000px) {
      padding: 0 20px;
    }

    .logo {
      display: grid;
      align-items: center;
      grid-template-columns: max-content max-content;
      grid-column-gap: 10px;
      margin-top: 2px;

      @media (max-width: 1000px) {
        display: none;
      }

      a {
        display: grid;
        align-items: center;
      }

      span {
        font-size: 17px;
        font-weight: 500;
        color: var(--text-color);
      }

      img {
        width: 25px;
      }
    }

    .mobile-header-logo {
      align-items: center;
      grid-template-columns: max-content max-content;
      grid-column-gap: 10px;
      margin-top: 2px;

      display: none;

      @media (max-width: 1000px) {
        display: grid;
      }

      a {
        display: grid;
        align-items: center;
      }

      span {
        font-size: 17px;
        font-weight: 500;
        color: var(--text-color);
      }

      img {
        width: 30px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 2px 0 0 0;
      justify-self: end;
    }

    ul.main-header-list {
      @media (max-width: 1000px) {
        display: none;
      }

      .change-theme {
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 18px;
        height: 18px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:active:hover {
          svg {
            width: 88%;
          }
        }

        &:hover {
          cursor: pointer;

          svg {
            path {
              fill: var(--secondary-color);
            }
          }
        }

        svg {
          width: 18px;
          height: 18px;

          &.sun {
            margin-top: 2px;
          }

          path {
            fill: var(--text-color);
          }
        }
      }

      li {
        margin: 0 10px;
      }
    }

    .mobile-header-list {
      @media (min-width: 1000px) {
        display: none;
      }

      button {
        position: relative;
        background: none;
        border: none;
        outline: none;
        padding: 5px;
        margin: 0 0 0 10px;

        width: 35px;
        height: 35px;

        border-radius: 8px;

        &:active:hover {
          background-color: var(--button-hover-background-color);
        }

        svg {
          width: 100%;
          height: 100%;

          .icon-data {
            fill: var(--text-color);
          }

          .icon-stroke {
            stroke: var(--text-color);
          }
        }
      }
    }
  }
}

li.navigation-item {
  a {
    color: var(--secondary-color);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: var(--text-color);
    }

    &.active {
      color: var(--brand-color);
    }
  }
}

aside.mobile-header-aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px 15px 30px 40px;

  background-color: var(--aside-background-color);

  z-index: 1000;

  transform: translateX(100%);
  transition: transform 100ms ease-in-out;

  &.open {
    transform: translateX(0);
  }

  .close-button-wrapper {
    display: grid;
    justify-items: end;

  }

  ul.aside-navigation {
    padding: 10px 70px 0 0;
    margin: 0;
    list-style: none;

    li.navigation-item {
      margin: 10px 0;

      font-size: 16px;

      a {
        color: var(--secondary-color);
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: var(--text-color);
        }

        &.active {
          color: var(--brand-color);
        }
      }
    }
  }
}

aside.mobile-header-aside.open + .header-mobile-overlay {
  display: block;
  background-color: var(--overlay-background-color);
}

.header-mobile-overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
}
