@import "fonts";
@import "colors";
@import "header";
@import "aside";
@import "blockquote";
@import "shortcut";
@import "pre-code-blocks";
@import "cards";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;

  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  overflow-x: hidden;
}

a {
  text-decoration-style: dotted;
}

a.external-link {
  &:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 1px;
    top: 2px;
    position: relative;

    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ff6b00'%3E%3Cpath d='M14 2H5.75l3.595 3.595L2.22 12.72l1.06 1.06 7.125-7.125L14 10.25V2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 110% 100%;
  }
}

.v-playground {
  padding-top: 0 !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;

  @media (max-width: 1000px) {
    height: auto;
  }
}

article {
  width: 100vw;
  height: calc(100% - 1px);

  display: grid;
  align-content: space-between;

  padding: 0 0 0 300px;

  background-color: var(--background);

  @media (max-width: 1000px) {
    padding: 0;
  }

  .container {
    display: grid;
    grid-template-columns: calc(100% - 250px) 250px;
    padding: 80px 50px 20px 20px;

    @media (max-width: 1200px) {
      grid-template-columns: 100%;

      padding-left: 20px;
      padding-right: 20px;

      .aside {
        display: none;
      }
    }

    .content {
      padding: 0 30px;

      @media (max-width: 1000px) {
        padding: 0;
      }

      .content-container {
        margin: 0 40px;
        max-width: 800px;

        @media (max-width: 1000px) {
          margin: 0;
          width: calc(100vw - 40px);
        }
      }

      footer {
        margin-top: 65px;

        .edit-info {
          display: grid;
          grid-template-columns: auto auto;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 15px;

          @media (max-width: 700px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
          }

          .edit-link {
            &:hover {
              cursor: pointer;

              a {
                color: var(--brand-color-dark);
              }

              svg {
                fill: var(--brand-color-dark);
              }
            }

            a {
              display: flex;
              align-items: center;
              border: 0;
              line-height: 25px;
              font-size: 14px;
              font-weight: 500;
              color: var(--brand-color);
              text-decoration: none;
              transition: color .25s;
            }

            svg {
              margin-top: -2px;
              margin-right: 8px;
              width: 14px;
              height: 14px;
              fill: var(--brand-color);
              transition: fill .25s;
            }
          }

          .last-updated {
            line-height: 32px;
            font-size: 13px;
            font-weight: 400;
            color: var(--secondary-color);
          }
        }

        .prev-next {
          padding-top: 25px;
          border-top: 1px solid var(--border-color);
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 20px;

          &.only-prev {
            .page {
              grid-column: 1;
            }
          }

          &.only-next {
            .page {
              grid-column: 2;
            }
          }

          .page-link {
            display: block;
            border: 1px solid var(--border-color);
            border-radius: 8px;
            padding: 11px 16px 13px;
            width: 100%;
            height: 100%;
            transition: border-color .25s;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              border-color: var(--brand-color);

              .title {
                color: var(--brand-color-dark);
              }
            }

            .desc {
              display: block;
              line-height: 20px;
              font-size: 12px;
              font-weight: 500;
              color: var(--secondary-color);
            }

            .title {
              display: block;
              line-height: 20px;
              font-size: 14px;
              font-weight: 500;
              color: var(--brand-color);
              transition: color .25s;
            }
          }
        }
      }
    }

    .aside {
      padding: 0 0 0 30px;

      .aside-content {
        height: 100%;
      }

      .aside-container {
        top: 50px;
        position: sticky;
        padding-top: 50px;
      }

      .title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      ul {
        font-size: 13px;
        list-style: none;
        padding: 0;
        margin: 0;

        border-left: 1px solid var(--divider-color);

        li {
          margin: 5px 0 5px -1px;
          border-left: 3px solid var(--background);
          padding: 0 0 0 10px;

          &.active {
            border-left: 3px solid var(--brand-color);

            a {
              color: var(--text-color);
            }
          }

          a {
            color: var(--secondary-color);
            text-decoration: none;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: baseline;

            &:hover {
              cursor: pointer;
              color: var(--text-color);
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;

    margin-top: 50px;
    background-color: var(--aside-background);
    color: var(--secondary-color);

    .footer-content {
      padding: 0 90px;

      @media (max-width: 1000px) {
        padding: 0 20px;
      }

      .footer-container {
        display: flex;
        align-items: center;
        padding: 20px 0;

        @media (max-width: 1000px) {
          flex-direction: column;
          padding: 30px 0;
        }
      }

      .end-line {
        a {
          line-height: 25px;
          font-size: 14px;
          font-weight: 500;
          color: var(--brand-color);
          transition: color .25s;
        }
      }
    }
  }

  main {
    font: 400 16px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
    color: var(--text-color);

    h1 {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 20px;

      &.main {
        padding-bottom: 50px;
        border-bottom: 1px solid var(--divider-color);
      }
    }

    h3.subtitle {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    section {
      padding: 10px 0;
      margin: 25px 0;
      border-top: 1px solid var(--divider-color);
      border-bottom: 1px solid var(--divider-color);
    }

    p {
      overflow-wrap: break-word;
      line-height: 1.7;
    }

    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
      .header-anchor {
        visibility: visible;
        opacity: 1;
      }
    }

    .header-anchor {
      float: left;
      margin-left: -0.87em;
      padding-right: 0.23em;
      font-weight: 500;
      user-select: none;
      opacity: 0;
      transition: color .25s, opacity .25s;

      visibility: hidden;

      &:hover {
        cursor: pointer;
        color: var(--brand-color-dark);
      }
    }

    a {
      font-weight: 500;
      color: var(--brand-color);
      text-decoration: none;
      transition: color .25s;
    }

    .language-v, .language-vmod, .language-c {
      max-width: 800px;
      margin-bottom: 30px;

      .playground__footer {
        background-color: var(--background);
      }

      .playground__wrapper {
        overflow: hidden;

        border-radius: 10px;

        background-color: var(--block-code-background-color);

        .CodeMirror {
          background-color: var(--block-code-background-color);

          .CodeMirror-gutters {
            background-color: var(--block-code-background-color);
          }
        }

        .terminal__close-button {
          z-index: 10;
        }
      }
    }

    code {
      font-family: "JetBrains Mono", monospace;
      font-size: 0.875em;

      &.symbol-ref {
        color: var(--brand-color);
      }
    }

    a > code {
      color: var(--brand-color) !important;
    }

    :not(pre) > code {
      white-space: nowrap;
      border-radius: 4px;
      padding: 3px 6px;
      color: var(--inline-code-text-color);
      background-color: var(--inline-code-background-color);

      &.keyword {
        color: var(--keyword-color);
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 20px 0;
      overflow: auto;

      th {
        font-weight: 500;
        text-align: left;
        padding: 10px 15px;
        border-bottom: 1px solid var(--border-color);
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid var(--border-color);
      }
    }

    ul {
      list-style: disc;
      padding-left: 20px;
      margin: 10px 0;

      li {
        margin: 5px 0;
      }
    }

    img {
      max-width: 100%;
      border: 1px solid var(--border-color);
    }

    .tag {
      display: inline-block;
      padding: 1px 5px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 8px;
      position: relative;
      top: -10px;
      margin-left: 5px;

      &.unsafe {
        color: var(--tag-unsafe-color);
        border: 1px solid var(--tag-unsafe-color);
      }

      &.deprecated {
        color: var(--tag-deprecated-color);
        border: 1px solid var(--tag-deprecated-color);
      }
    }
  }
}
