@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
}
html {
  --dark-gray: #1e1f22;
  --almost-black: #1a1a1a;
  --gray-22: #222226;
  --gray-24: #242424;
  --gray-32: #323438;
  --gray-3a: #3a3a3a;
  --gray-3b: #3b3c3c;
  --gray-5a: #5a5a5c;
  --gray-7e: #7e7e80;
  --gray-be: #bebebf;
  --gray-cb: #cbc9c9;
  --gray-ef: #efefef;
  --gray-ec: #ecedf1;
  --gray-e0: #e0e0e0;
  --gray-87: rgba(255, 255, 255, .87);
  --gray-f9: #f9f9f9;
  --dark-transparent-gray: rgba(25, 25, 28, .7);
  --background-transparent-gray: rgba(30, 31, 34, .7);
  --semi-dark-transparent-gray: rgba(0, 0, 0, 0.32);
  --light-transparent-gray: rgba(255, 255, 255, 0.05);
  --background-light-transparent-gray: rgba(255, 255, 255, .7);
  --light-white: #f3f3f3;
  --white: #fff;
  --black: #000;
  --light-salat-green: #AFBF7E;
  --light-green: rgb(77, 187, 95);
  --dark-transparent-green: rgba(77, 187, 95, 0.2);
  --orange: rgb(244, 92, 75);
  --dark-transparent-orange: rgba(244, 92, 74, 0.2);
  --brand-color: #ff6b00;
  --brand-color-dark: #cc5307;
}

html {
  --main-color: var(--white);
  --background-color: var(--main-color);
  --border-color: var(--gray-e0);
  --divider-color: var(--gray-e0);
  --text-color: var(--black);
  --secondary-color: var(--gray-7e);
  --scrollbar-thumb-color: var(--gray-ef);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-light-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--gray-f9);
  --aside-link-text-color: var(--gray-7e);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-f9);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--white);
  --block-code-border-color: var(--gray-ec);
  --block-code-text-color: var(--black);
  --blockquote-text-color: var(--dark-transparent-gray);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-5a);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-ec);
  --keyword-color: #0033b3;
  --comment-color: #8c8c8c;
  --number-color: #1750eb;
  --string-color: #067d17;
  --search-button-background-color: var(--gray-f9);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-7e);
  --search-input-placeholder-color: var(--gray-be);
  --search-labels-text-color: var(--gray-7e);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-7e);
  --search-result-footer-hint-key-background-color: var(--gray-ef);
  --search-result-footer-hint-keytext-color: var(--gray-3b);
  --symbol-ref-link-color: var(--brand-color-dark);
  --symbol-ref-underline: none;
  --symbol-ref-hover-color: var(--symbol-ref-link-color);
  --module-ref-link-color: var(--brand-color-dark);
  --playground-header-background-color: var(--white);
  --tools-background-color: var(--white);
}

html[data-theme=dark] {
  --main-color: var(--dark-gray);
  --background-color: var(--main-color);
  --border-color: var(--gray-3a);
  --divider-color: var(--gray-3a);
  --text-color: var(--gray-87);
  --secondary-color: var(--gray-be);
  --scrollbar-thumb-color: var(--gray-32);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--almost-black);
  --aside-link-text-color: var(--gray-be);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-3b);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--dark-gray);
  --block-code-border-color: var(--gray-32);
  --block-code-text-color: var(--gray-be);
  --blockquote-text-color: var(--gray-be);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-be);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-32);
  --search-button-background-color: var(--almost-black);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-be);
  --search-input-placeholder-color: var(--gray-5a);
  --search-labels-text-color: var(--gray-5a);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-5a);
  --search-result-footer-hint-key-background-color: var(--gray-22);
  --search-result-footer-hint-keytext-color: var(--gray-be);
  --keyword-color: #cc7832;
  --comment-color: gray;
  --number-color: #2AACB8;
  --string-color: #6AAB73;
  --symbol-ref-link-color: var(--keyword-color);
  --symbol-ref-underline: underline;
  --symbol-ref-hover-color: var(--keyword-color);
  --module-ref-link-color: var(--light-salat-green);
  --playground-header-background-color: var(--gray-24);
  --tools-background-color: var(--dark-gray);
}

.close-button {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.close-button:hover {
  background-color: var(--button-hover-background-color);
}
.close-button:hover:active {
  background-color: var(--button-hover-background-color);
}
.close-button svg {
  width: 100%;
  height: 100%;
}
.close-button svg .icon-stroke {
  stroke: var(--text-color);
}

html {
  --sub-menu-border-color: none;
}

html[data-theme=dark] {
  --sub-menu-border-color: var(--border-color);
}

.header-component.underline header {
  border-bottom: 1px solid var(--divider-color);
}
.header-component.fixed header {
  position: fixed;
  top: 0;
  left: 0;
}
.header-component.transparent-desktop header {
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--header-transparent-background-color);
}
@media (max-width: 1000px) {
  .header-component.transparent-desktop header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
.header-component.no-change-theme .change-theme {
  display: none !important;
}
.header-component.no-change-theme .main-header-list .navigation-item:nth-last-child(-n+2) {
  margin-right: 0 !important;
}
.header-component.no-search-button .header-container button.search {
  display: none !important;
}
.header-component.with-button-before-logo .header-container {
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 10px;
}
.header-component.with-button-before-logo .mobile-header-list-before-logo {
  display: block;
}
@media (min-width: 1000px) {
  .header-component.with-search-desktop .search-container {
    display: block;
  }
  .header-component.with-search-desktop .header-container {
    grid-template-columns: 320px auto max-content;
    grid-column-gap: 10px;
  }
}
@media (min-width: 1000px) {
  .header-component.search-desktop-after-logo .search-container {
    margin-left: 30px;
  }
  .header-component.search-desktop-after-logo .header-container {
    grid-template-columns: max-content auto max-content;
    grid-column-gap: 10px;
  }
}

header {
  height: 70px;
  width: 100%;
  z-index: 997;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  background: var(--header-background-color);
}
@media (max-width: 1000px) {
  header {
    width: 100vw;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
header .header-container {
  padding: 0 50px;
  height: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container {
    padding: 0 20px;
  }
}
header .header-container .logo {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
}
@media (max-width: 1000px) {
  header .header-container .logo {
    display: none;
  }
}
header .header-container .logo a {
  display: grid;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .logo span {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .logo img {
  width: 25px;
}
header .header-container .search-container {
  display: none;
}
header .header-container .search-container .search-button {
  padding: 10px 20px 10px 17px;
  background-color: var(--search-button-background-color);
  border: 1px solid var(--search-button-background-color);
  outline: none;
  border-radius: 8px;
  color: var(--search-button-text-color);
  transition: border-color 0.25s;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
}
header .header-container .search-container .search-button:hover {
  cursor: pointer;
  border: 1px solid var(--search-button-hover-border-color);
}
header .header-container .search-container .search-button .search-icon {
  margin-right: 5px;
}
header .header-container .search-container .search-button .search-icon svg {
  display: block;
  width: 20px;
  height: 20px;
}
header .header-container .search-container .search-button .search-icon .icon-stroke {
  stroke: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-icon .icon-data {
  fill: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-label {
  margin-right: 10px;
}
header .header-container .search-container .search-button .shortcut {
  font-size: 12px;
  padding: 3px 5px 3px;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
}
header .header-container .mobile-header-logo {
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
  display: none;
}
@media (max-width: 1000px) {
  header .header-container .mobile-header-logo {
    display: grid;
  }
}
header .header-container .mobile-header-logo a {
  display: grid;
  align-items: center;
}
header .header-container .mobile-header-logo span.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .mobile-header-logo a.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .mobile-header-logo img {
  width: 30px;
}
header .header-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  justify-self: end;
}
@media (max-width: 1000px) {
  header .header-container ul.main-header-list {
    display: none;
  }
}
header .header-container ul.main-header-list .change-theme {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .header-container ul.main-header-list .change-theme:active:hover svg {
  width: 88%;
}
header .header-container ul.main-header-list .change-theme:hover {
  cursor: pointer;
}
header .header-container ul.main-header-list .change-theme:hover svg path {
  fill: var(--secondary-color);
}
header .header-container ul.main-header-list .change-theme svg {
  width: 18px;
  height: 18px;
}
header .header-container ul.main-header-list .change-theme svg.sun {
  margin-top: 2px;
}
header .header-container ul.main-header-list .change-theme svg path {
  fill: var(--text-color);
}
header .header-container ul.main-header-list li {
  margin: 0 10px;
}
@media (min-width: 1000px) {
  header .header-container .mobile-header-list {
    display: none;
  }
}
header .header-container .mobile-header-list.mobile-header-list-before-logo {
  display: none;
}
header .header-container .mobile-header-list button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 0 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
}
header .header-container .mobile-header-list button:active:hover {
  background-color: var(--button-hover-background-color);
}
header .header-container .mobile-header-list button svg {
  width: 100%;
  height: 100%;
}
header .header-container .mobile-header-list button svg .icon-data {
  fill: var(--text-color);
}
header .header-container .mobile-header-list button svg .icon-stroke {
  stroke: var(--text-color);
}

li.navigation-item {
  position: relative;
}
li.navigation-item a, li.navigation-item span {
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item a:hover, li.navigation-item span:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item a:hover.with-icon svg .icon-data, li.navigation-item span:hover.with-icon svg .icon-data {
  fill: var(--text-color);
}
li.navigation-item a.active, li.navigation-item span.active {
  color: var(--brand-color);
}
li.navigation-item a.with-icon, li.navigation-item span.with-icon {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 4px;
  align-items: center;
}
@media (max-width: 1000px) {
  li.navigation-item a.with-icon, li.navigation-item span.with-icon {
    margin-left: -20px;
  }
}
li.navigation-item a.with-icon svg, li.navigation-item span.with-icon svg {
  width: 13px;
}
li.navigation-item a.with-icon svg .icon-data, li.navigation-item span.with-icon svg .icon-data {
  fill: var(--secondary-color);
}
li.navigation-item.with-items ul.sub-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  padding: 12px 40px 12px 18px;
  margin: 0;
  list-style: none;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--background-color);
  border: 1px solid var(--sub-menu-border-color);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transform: translateY(10px);
}
li.navigation-item.with-items ul.sub-menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}
li.navigation-item.with-items ul.sub-menu li {
  margin: 0;
  padding: 0 0 6px;
}
li.navigation-item.with-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
li.navigation-item.with-items ul.sub-menu li a {
  user-input: none;
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item.with-items ul.sub-menu li a:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item.with-items ul.sub-menu li a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px 15px 30px 40px;
  background-color: var(--aside-background-color);
  z-index: 1000;
  transform: translateX(100%);
  transition: opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
aside.mobile-header-aside.open {
  transform: translateX(0);
}
aside.mobile-header-aside .close-button-wrapper {
  display: grid;
  justify-items: end;
}
aside.mobile-header-aside ul.aside-navigation {
  padding: 10px 100px 0 0;
  margin: 0;
  list-style: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item {
  margin: 10px 0;
  font-size: 16px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu {
  margin: 10px 0;
  list-style: none;
  padding-left: 20px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li {
  padding: 0 0 10px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item span.with-icon {
  grid-column-gap: 6px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a {
  color: var(--secondary-color);
  text-decoration: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a:hover {
  cursor: pointer;
  color: var(--text-color);
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside.open + .header-mobile-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

.header-mobile-overlay, .search-overlay {
  display: block;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-window {
  display: grid;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}
.search-window.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.search-window .search-form {
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
  grid-row-gap: 10px;
  pointer-events: all;
  width: 550px;
  height: max-content;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--divider-color);
  margin: 75px auto 0;
  padding: 10px 10px 0;
  background-color: var(--aside-background-color);
}
@media (max-width: 1000px) {
  .search-window .search-form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    border: none;
    grid-template-rows: max-content max-content auto;
  }
}
.search-window .search-form .search-header {
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header {
    grid-template-columns: auto max-content;
    grid-column-gap: 20px;
    align-items: center;
  }
}
.search-window .search-form .search-header .close-search-button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header .close-search-button {
    display: block;
  }
}
.search-window .search-form .search-input {
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  padding: 0 15px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto max-content;
}
.search-window .search-form .search-input label .icon svg {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}
.search-window .search-form .search-input label .icon svg .icon-stroke {
  stroke: var(--search-button-text-color);
}
.search-window .search-form .search-input label .icon svg .icon-data {
  fill: var(--search-button-text-color);
}
.search-window .search-form .search-input input {
  width: 100%;
  height: 40px;
  padding: 30px 20px 30px 10px;
  outline: none;
  border: none;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--input-background-color);
}
.search-window .search-form .search-input input::placeholder {
  color: var(--search-input-placeholder-color);
}
.search-window .search-form .search-input .clear-input {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
}
.search-window .search-form .search-input .clear-input.show {
  display: block;
}
.search-window .search-form .search-place {
  display: flex;
  align-items: center;
}
.search-window .search-form .search-place .search-in-label {
  font-size: 13px;
  color: var(--search-labels-text-color);
  margin-right: 20px;
}
.search-window .search-form .search-place ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-place ul {
    column-gap: 10px;
  }
}
.search-window .search-form .search-place ul li.search-place-item input {
  display: none;
}
.search-window .search-form .search-place ul li.search-place-item input:checked + label {
  border-bottom: 2px solid var(--brand-color);
}
.search-window .search-form .search-place ul li.search-place-item label:hover {
  cursor: pointer;
}
.search-window .search-form .search-results {
  height: 100%;
  max-height: 483px;
  overflow: scroll;
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-results {
    max-height: 100%;
  }
}
.search-window .search-form .search-results.no-results-found {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.no-results-found .no-results-found {
  display: block;
}
.search-window .search-form .search-results.no-results-found .search-results-list {
  display: none;
}
.search-window .search-form .search-results.with-caption {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.with-caption .caption {
  display: block;
}
.search-window .search-form .search-results.with-caption .search-results-list {
  display: none;
}
.search-window .search-form .search-results .search-results-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-window .search-form .search-results .search-results-list .search-result[aria-selected=true] .search-result-content {
  border: 1px dashed var(--search-result-active-background-color);
  color: var(--search-result-active-text-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 5px;
  align-items: center;
  padding: 20px 20px 20px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content:hover {
  cursor: pointer;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-icon svg path {
  stroke: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper {
  display: grid;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .search-highlight {
  font-weight: 600;
  color: var(--brand-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .description {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}
.search-window .search-form .search-results .caption {
  display: none;
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: var(--secondary-color);
}
.search-window .search-form .search-results .caption .search-sentence {
  font-weight: 600;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-footer {
    display: none;
  }
}
.search-window .search-form .search-footer .search-footer-content {
  padding: 0 5px;
}
.search-window .search-form .search-footer .search-footer-content .search-hints {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 15px;
  align-items: center;
  margin: 10px 0;
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint {
  font-size: 13px;
  color: var(--search-result-footer-hint-text-color);
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint .search-key {
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 3px;
  background-color: var(--search-result-footer-hint-key-background-color);
  color: var(--search-result-footer-hint-keytext-color);
}

.search-window.open + .search-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

aside.navigation {
  width: 300px;
  height: 100vh;
  position: fixed;
  color: var(--text-color);
  background-color: var(--aside-background-color);
  padding: 20px 20px 20px 50px;
  z-index: 998;
}
@media (max-width: 1000px) {
  aside.navigation {
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--aside-background-color);
    z-index: 1000;
    transform: translateX(-100%);
    transition: opacity 0.25s, transform 0.5s cubic-bezier(0.22, 1, 0.19, 1);
    font-size: 16px;
  }
  aside.navigation.open {
    transform: translateX(0);
  }
}
aside.navigation .header {
  display: grid;
  grid-template-columns: auto max-content;
}
@media (max-width: 1000px) {
  aside.navigation .header {
    grid-template-columns: auto max-content;
    grid-column-gap: 10px;
  }
  aside.navigation .header .close-button-wrapper {
    display: block !important;
  }
}
aside.navigation .header .close-button-wrapper {
  display: none;
  margin-top: 3px;
}
aside.navigation .header .title {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;
  align-items: center;
  text-decoration: none;
  margin-top: 3px;
}
aside.navigation .header .title img {
  width: 25px;
}
aside.navigation .header .title span {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
aside.navigation nav {
  padding: 20px 0 20px 0;
  height: 100%;
}
aside.navigation .group {
  border-top: 1px solid var(--divider-color);
  padding: 15px 0;
  height: 100%;
}
aside.navigation .group section {
  height: 100%;
  overflow-y: scroll;
}
aside.navigation .group section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside.navigation .group section ul.sub-list {
  padding-left: 20px;
  display: none;
}
aside.navigation .group section ul.sub-list.open {
  display: block;
}
aside.navigation .group .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
aside.navigation .group .item {
  position: relative;
  margin: 10px 0;
}
aside.navigation .group .item svg {
  position: absolute;
  width: 20px;
  height: 15px;
  top: 3px;
  left: -5px;
  fill: var(--aside-link-text-color);
}
@media (max-width: 1000px) {
  aside.navigation .group .item svg {
    height: 18px;
    top: 3px;
  }
}
aside.navigation .group .item.open > svg {
  transform: rotate(90deg);
}
aside.navigation .group .item:hover .link {
  cursor: pointer;
  color: var(--aside-link-text-color-hover);
}
aside.navigation .group .item:hover svg {
  fill: var(--aside-link-text-color-hover);
}
aside.navigation .group .item .link {
  position: relative;
  display: block;
  margin: 4px 0;
  padding-left: 17px;
  color: var(--aside-link-text-color);
  text-decoration: none;
}
aside.navigation .group .item .link.active {
  color: var(--aside-link-text-color-active);
}

aside.navigation.open + .aside-navigation-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

.aside-navigation-overlay {
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
}

blockquote {
  border-radius: 6px;
  color: var(--blockquote-text-color);
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-column-gap: 15px;
  box-sizing: border-box;
  margin: 20px 0 30px;
  padding: 16px;
}
blockquote .prompt__icon {
  width: 24px;
  height: 24px;
}
blockquote .prompt__content > p:first-child {
  margin-top: 0;
}
blockquote .prompt__content > p:last-child {
  margin-bottom: 0;
}

blockquote.note {
  background-color: var(--blockquote-note-background-color);
}
blockquote.note .prompt__icon {
  fill: var(--blockquote-note-icon-color);
}

blockquote.tip {
  background-color: var(--blockquote-tip-background-color);
}
blockquote.tip .prompt__icon {
  fill: var(--blockquote-tip-icon-color);
}

blockquote.warning {
  background-color: var(--blockquote-warning-background-color);
}
blockquote.warning .prompt__icon {
  fill: var(--blockquote-warning-icon-color);
}

html {
  --kbd-background-color: var(--inline-code-background-color);
  --shadow-outer-color: rgba(0, 0, 0, 0.2);
  --shadow-inner-color: var(--white);
}

html[data-theme=dark] {
  --kbd-background-color: var(--almost-black);
  --shadow-outer-color: rgba(0, 0, 0, 0.2);
  --shadow-inner-color: var(--background-color);
}

kbd {
  display: inline-block;
  font-family: "JetBrainsSans", Helvetica, Arial, sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0 6px 0;
  margin: 0 0.2em;
  box-shadow: 0 1px 0 var(--shadow-outer-color), 0 0 0 1px var(--shadow-inner-color) inset;
  color: var(--inline-code-text-color);
  background-color: var(--kbd-background-color);
  font-size: 14px;
}
kbd:hover {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
kbd:active {
  box-shadow: 0 0 0 1px var(--shadow-inner-color) inset;
  transform: translateY(1px);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  overflow-x: hidden;
}

a {
  text-decoration-style: dotted;
}

a.external-link:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 1px;
  top: 2px;
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ff6b00'%3E%3Cpath d='M14 2H5.75l3.595 3.595L2.22 12.72l1.06 1.06 7.125-7.125L14 10.25V2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 110% 100%;
}

.v-playground {
  padding-top: 0 !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}
@media (max-width: 1000px) {
  .wrapper {
    height: auto;
  }
}

article {
  width: 100vw;
  height: calc(100% - 1px);
  display: grid;
  align-content: space-between;
  padding: 0 0 0 300px;
  background-color: var(--background);
}
@media (max-width: 1000px) {
  article {
    padding: 0;
  }
}
article .container {
  display: grid;
  grid-template-columns: calc(100% - 250px) 250px;
  padding: 80px 50px 20px 20px;
}
@media (max-width: 1200px) {
  article .container {
    grid-template-columns: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  article .container .aside {
    display: none;
  }
}
article .container .content {
  padding: 0 30px;
}
@media (max-width: 1000px) {
  article .container .content {
    padding: 0;
  }
}
article .container .content .content-container {
  margin: 0 40px;
  max-width: 800px;
}
@media (max-width: 1000px) {
  article .container .content .content-container {
    margin: 0;
    width: calc(100vw - 60px);
  }
}
article .container .content footer {
  margin-top: 65px;
}
article .container .content footer .edit-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
@media (max-width: 700px) {
  article .container .content footer .edit-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
article .container .content footer .edit-info .edit-link:hover {
  cursor: pointer;
}
article .container .content footer .edit-info .edit-link:hover a {
  color: var(--brand-color-dark);
}
article .container .content footer .edit-info .edit-link:hover svg {
  fill: var(--brand-color-dark);
}
article .container .content footer .edit-info .edit-link a {
  display: flex;
  align-items: center;
  border: 0;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-color);
  text-decoration: none;
  transition: color 0.25s;
}
article .container .content footer .edit-info .edit-link svg {
  margin-top: -2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  fill: var(--brand-color);
  transition: fill 0.25s;
}
article .container .content footer .edit-info .last-updated {
  line-height: 32px;
  font-size: 13px;
  font-weight: 400;
  color: var(--secondary-color);
}
article .container .content footer .prev-next {
  padding-top: 25px;
  border-top: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
article .container .content footer .prev-next.only-prev .page {
  grid-column: 1;
}
article .container .content footer .prev-next.only-next .page {
  grid-column: 2;
}
article .container .content footer .prev-next .page-link {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 11px 16px 13px;
  width: 100%;
  height: 100%;
  transition: border-color 0.25s;
  text-decoration: none;
}
article .container .content footer .prev-next .page-link:hover {
  cursor: pointer;
  border-color: var(--brand-color);
}
article .container .content footer .prev-next .page-link:hover .title {
  color: var(--brand-color-dark);
}
article .container .content footer .prev-next .page-link .desc {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}
article .container .content footer .prev-next .page-link .title {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-color);
  transition: color 0.25s;
}
article .container .aside {
  padding: 0 0 0 30px;
}
article .container .aside .aside-content {
  height: 100%;
}
article .container .aside .aside-container {
  top: 50px;
  position: sticky;
  padding-top: 50px;
}
article .container .aside .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
article .container .aside ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
  margin: 0;
}
article .container .aside ul li {
  margin: 5px 0;
  border-left: 3px solid var(--background);
  padding: 0 0 0 10px;
}
article .container .aside ul li.active {
  border-left: 3px solid var(--brand-color);
}
article .container .aside ul li.active a {
  color: var(--text-color);
}
article .container .aside ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: baseline;
}
article .container .aside ul li a:hover {
  cursor: pointer;
  color: var(--text-color);
}
article .footer {
  width: 100%;
  margin-top: 50px;
  background-color: var(--aside-background);
  color: var(--secondary-color);
}
article .footer .footer-content {
  padding: 0 90px;
}
@media (max-width: 1000px) {
  article .footer .footer-content {
    padding: 0 20px;
  }
}
article .footer .footer-content .footer-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 1000px) {
  article .footer .footer-content .footer-container {
    flex-direction: column;
    padding: 30px 0;
  }
}
article .footer .footer-content .end-line a {
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-color);
  transition: color 0.25s;
}
article main {
  font: 400 16px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}
article main h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
article main h1.main {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--divider-color);
}
article main h3.subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
article main section {
  padding: 10px 0;
  margin: 25px 0;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}
article main p {
  overflow-wrap: break-word;
  line-height: 1.7;
}
article main .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  user-select: none;
  opacity: 1;
  transition: color 0.25s, opacity 0.25s;
}
article main .header-anchor:hover {
  cursor: pointer;
  color: var(--brand-color-dark);
}
article main a {
  font-weight: 500;
  color: var(--brand-color);
  text-decoration-style: dotted;
  transition: color 0.25s;
}
article main .language-v {
  max-width: 800px;
  margin-bottom: 30px;
}
article main .language-v .playground__footer {
  background-color: var(--background);
}
article main .language-v .playground__wrapper {
  overflow: hidden;
}
article main code {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875em;
}
article main code.symbol-ref {
  color: var(--brand-color);
}
article main a > code {
  color: var(--brand-color) !important;
}
article main :not(pre) > code {
  white-space: nowrap;
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--inline-code-text-color);
  background-color: var(--inline-code-background-color);
}
article main :not(pre) > code.keyword {
  color: var(--keyword-color);
}
article main pre {
  white-space: pre;
  border-radius: 0;
  padding: 10px 20px;
  color: var(--block-code-text-color);
  background-color: var(--block-code-background-color);
  border: 1px solid var(--block-code-border-color);
  overflow-x: scroll;
}
article main pre.terminal__output {
  border: unset;
}
article main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
  overflow: auto;
}
article main table th {
  font-weight: 500;
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}
article main table td {
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}
article main ul {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0;
}
article main ul li {
  margin: 5px 0;
}
article main img {
  max-width: 100%;
  border: 1px solid var(--border-color);
}
article main .tag {
  display: inline-block;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  position: relative;
  top: -10px;
  margin-left: 5px;
}
article main .tag.unsafe {
  color: var(--tag-unsafe-color);
  border: 1px solid var(--tag-unsafe-color);
}
article main .tag.deprecated {
  color: var(--tag-deprecated-color);
  border: 1px solid var(--tag-deprecated-color);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 40px -10px;
}
@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
.cards .card {
  margin: 0 10px 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: border 0.25s;
  display: grid;
  grid-auto-rows: max-content;
  text-decoration-style: unset !important;
  text-decoration: none;
  color: var(--text-color);
}
.cards .card.bigger-logo .logo {
  width: 70px;
  height: 70px;
}
.cards .card .logo svg .foreground {
  fill: var(--text-color);
}
.cards .card:hover {
  cursor: pointer;
  border: 1px solid var(--brand-color);
}
.cards .card:hover .logo svg .background {
  fill: var(--brand-color);
}
.cards .card:hover .logo svg .background.foreground {
  fill: var(--brand-color);
}
@media (max-width: 700px) {
  .cards .card {
    margin: 0 0 20px;
  }
}
.cards .card .logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.cards .card .logo svg {
  width: 100%;
  height: 100%;
}
.cards .card .logo svg .background {
  transition: fill 0.25s;
}
.cards .card .logo svg .foreground {
  transition: fill 0.25s;
}
.cards .card .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.cards .card .description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
